<section class="gallery-section" data-controller="lazy-image">
  <div class="gallery-text">
    <h1><%= t('pages.gallery.title') %></h1>
    <p><%= t('pages.gallery.text_1') %></p>
  </div>

  <div class="gallery-images">
    <% @shuffled_images.each do |i| %>
      <div
        class="thumbnail-container"
        data-action="click->lazy-image#open"
        data-lazy-image-full-src="<%= asset_path("gallery/large_gallery_#{i}.png") %>">
        <!-- Thumbnail image -->
        <%= image_tag "gallery/small_gallery_bis_#{i}.png",
                      alt: "Image #{i}",
                      class: "portfolio-image",
                      loading: "lazy" %>
      </div>
    <% end %>
  </div>

  <div class="videos-container">
    <div class="ext-video-player">
      <iframe src="https://player.vimeo.com/video/1038590561?loop=1&controls=1" allow="fullscreen; picture-in-picture; clipboard-write" title="La escuela crece"></iframe>
    </div>
    <div class="ext-video-player">
      <iframe src="https://player.vimeo.com/video/174013615?loop=1&controls=1" allow="fullscreen; picture-in-picture; clipboard-write" title="Construction participative à La Paillade / Le documentaire"></iframe>
    </div>
  </div>

  <!-- Fullscreen Modal -->
  <dialog class="image-modal" data-lazy-image-target="modal">
    <div class="close-button" data-action="click->lazy-image#close">&times;</div>
    <img class="modal-image" data-lazy-image-target="image" alt="Fullscreen Image">
  </dialog>
</section>


