<section class="portfolio-section">
  <div class="portfolio-content">
    <h1><%= t('pages.portfolio.title') %></h1>
    <div class="portfolio-images">
      <div class="portfolio-image-container">
        <%= image_tag "image-portfolio.png", alt: "Image mportfolio", class: "portfolio-image" %>
      </div>
    </div>
    <div class="portfolio-text">
      <p>
        <%= t(
              'pages.portfolio.text_1_html',
              url: link_to(t('pages.portfolio.link_text_1'), "https://issuu.com/stephanieelhourany/docs/design_build_portfolio2024", class: 'download-link', target: '_blank')
            ).html_safe %>
      </p>
      <p>
        <%= t(
              'pages.portfolio.text_2_html',
              url: link_to(t('pages.portfolio.link_text_2'), asset_path('design_and_build_portfolio_2024.pdf'), class: 'download-link', target: '_blank')
            ).html_safe %>
      </p>
    </div>
    <p></p>
  </div>
</section>
