.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero-landing {
    height: calc(100vh - 90px); /* Full viewport height minus any header */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolutely positioned iframe */

    .ext-video-player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 54px 0;
    width: 100%;
    max-width: 1200px;

    .content-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 60px;

      .profile-picture {
        width: 274px;
        height: 274px;
        border-radius: 50%; /* Circular */
        object-fit: cover;
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-bottom: 30px;
      }

      .content-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          line-height: 1.6;
        }
      }
    }
  }
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .hero-section {
    .hero-landing {
      height: auto; /* Allow content to dictate height */
      padding-top: 56.25%; /* Maintain 16:9 aspect ratio for the video */
    }

    .ext-video-player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .content {
      flex-direction: column; /* Stack content */
      gap: 20px;
      margin: 0 3rem;

      .content-left .profile-picture {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    .content {
      margin: 2rem 0;

      .content-left .profile-picture {
        width: 150px;
        height: 150px;
      }

      .content-right {
        margin: 0 1rem;
      }
    }
  }
}
