.portfolio-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;

  .portfolio-content {
    margin: 3rem 94px;
    text-align: center;
    justify-content: center;

    h1 {
      margin-bottom: 40px;
    }

    .portfolio-images {
      display: flex;
      flex-direction: column; /* Stack images vertically */
      gap: 2.2rem; /* Space between images */
      align-items: center; /* Center images horizontally */
      justify-content: center;

      .portfolio-image {
        width: 100%;
        height: auto;
      }
    }

    .portfolio-text {
      margin-top: 20px;
      font-size: 1.2rem;
      color: #666;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .download-link {
        color: #666;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    .portfolio-content {
      margin: 3rem 20px;
      h1 {
        margin-bottom: 20px;
      }

      .portfolio-images {
        gap: 1.5rem;
      }
    }
  }
}
